@import "tailwindcss";

/* Configure Tailwind v4 to look for the .dark class on the <html> tag */
@variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  html.dark::-webkit-scrollbar {
    background: #18181b;
  }
  html.dark::-webkit-scrollbar-thumb {
    background: #3f3f46;
    border-radius: 4px;
  }
}